@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
*{padding: 0; margin: 0;}
ul, li{list-style: none;}
a{text-decoration: none;}
em{font-style: normal;}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    color: #2d2d2d;
}

.skip{text-indent: -99999px; width: 1px; height: 1px;}
.wrap{width: 1200px; margin: 0 auto;}

@media screen and (max-width:800px){
   .wrap{width: 100%;}
}

header .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .wrap h1{margin-top: 15px;}
header .wrap .gnb ul{
    display: flex;
}

header .wrap .gnb ul li a{
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    font-weight: 800;
    color: #2d2d2d;
}

header .wrap .gnb ul li:last-child a{
    margin-left: 15px;
}

/*메인 비주얼*/
.main_visual{
    background: #f7f7f7;
    height: 400px;
    display: none;
}

/*간단 이력서*/

.main_info{margin-top: 50px; margin-bottom: 50px;}
.main_info .wrap .info_wrap {
    background-color: #fff;
    display: flex;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
   
}


@media screen and (max-width:800px){
    .main_info .wrap .info_wrap{
        flex-direction: column;
        overflow: hidden;
    }
}


/*간단 이력서-왼쪽*/
.main_info .wrap .info_wrap .profile{padding: 20px; width: 50%;}
@media screen and (max-width:800px){
    .main_info .wrap .info_wrap .profile{padding: 20px; width: 100vw; }
}
.main_info .wrap .info_wrap .profile .profile_img {width: 100%; text-align: center; padding-top: 60px;}
.main_info .wrap .info_wrap .profile .profile_img i{
    background: url(profile.jpg)no-repeat center center;
    background-size: cover;
    width: 100px; height: 100px;
    display: inline-block;
    border-radius: 500px;
    
}
.main_info .wrap .info_wrap .profile ul{padding: 20px;}
.main_info .wrap .info_wrap .profile ul li{display: flex; padding: 5px 0;}

/*간단 이력서-오른쪽*/
.main_info .wrap .info_wrap .resume{
    background-color: #f7f7f7;
    padding: 20px;
    width: 100%;
}


.main_info .wrap .info_wrap .resume ul li{font-weight: 500; margin-bottom: 15px;}
.main_info .wrap .info_wrap .resume ul li i{color: purple;}
.main_info .wrap .info_wrap .resume ul li .txt_inner{padding-left: 10px; padding-bottom: 15px; padding-right: 50px;}
.main_info .wrap .info_wrap .resume ul li .txt_inner em{color: purple; font-weight: 600;}
.popol{
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    width: 65px; line-height: 25px;
    text-align: center;
    background-color: slateblue;
    border-radius: 5px;
    margin-left: 10px;
    color: #fff;
}
.main_info .wrap .info_wrap .resume ul li .txt_inner p.title{display: inline-block;}
.main_info .wrap .info_wrap .resume ul li .txt_inner p.txt{word-break: keep-all; line-height: 19px;}


/*작업물 레이어 팝업*/
#layer {
    position: fixed;
    left: 50%; top: 50%; 
    width: 1000px; height: 800px;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
    background-color: #fff;
    /*display: none;*/
    border-radius: 5px;
    z-index: 5;
}
#layer .slide{
    width: 490px; height: 693px;
    background-color: royalblue;
    margin-top: 50px;
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
}
#layer ul{
    text-align: center;
    display: flex;
    width: 1500px;
}
#layer ul li{
    margin-right: 15px;
    display: block;
    width: 500px; height: 500px;
    background-color: rosybrown;
}
#layer ul li:last-child{margin-right: 0;}

#layer ul li img{
    width: 100%; height: auto;
}

.dim{
    position: absolute; top: 0; left: 0;
    width: 100vw; height: 100vw;
    background-color: rgba(0, 0, 0, .2);
    z-index: 2;
}
.close{
    position: absolute;
    right: 0; top: 0;
}

/*포트폴리오 목록*/
.portpolio{
    background-color: #f7f7f7;
    margin-top: 50px;
    padding-bottom: 350px;
}

.portpolio .wrap h2{
    padding: 30px 0 50px 0;
    text-align: center;
}
.portpolio .wrap .popol_wrap ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}


.portpolio .wrap .popol_wrap ul li{
    width: 28.3%;
    margin-right: 30px;
    margin-bottom: 70px;
    padding: 0 14px;
}
.portpolio .wrap .popol_wrap ul li:nth-child(3n){margin-right: 0;}
.portpolio .wrap .popol_wrap ul li .img_box{
    width: 100%;
    height: 240px;
    overflow: hidden;
}
.portpolio .wrap .popol_wrap ul li .img_box a{
    display: block;
    width: 92%;
    height: 245px;
    border: 14px solid #2d2d2d;
    border-bottom: 0;
    /*background: #000;*/
    border-radius: 20px;
    overflow: hidden;
}

.portpolio .wrap .popol_wrap ul li .img_box a .img{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 245px;
    
}
.portpolio .wrap .popol_wrap ul li .img_box a .templet01{
    background: url(templet01/Homepage.png) no-repeat top center;
    /*../templet01/Homepage.png*/
    background-size: cover;
}
.portpolio .wrap .popol_wrap ul li .img_box a .goodbingo{
    background: url(goodbingo/goodbingo.png) no-repeat top center;
    background-size: cover;
}
.portpolio .wrap .popol_wrap ul li .img_box a .jisan{
    background: url(images/jisan.png) no-repeat top center;
    background-size: cover;
}
.portpolio .wrap .popol_wrap ul li .img_box a .cbhsu{
    background: url(images/cbhsu.png) no-repeat top center;
    background-size: cover;
}

.portpolio .wrap .popol_wrap ul li .img_box a .alltimeapple{
    background: url(images/all_time_apple.jpg) no-repeat top center;
    background-size: cover;
}
/*js_mini_game01*/
.portpolio .wrap .popol_wrap ul li .img_box a .JS_GAME{
    background: url(images/js_mini_game01.png) no-repeat top center;
    background-size: cover;
}
.portpolio .wrap .popol_wrap ul li .img_box a .severance02{
    background: url(images/severance.png) no-repeat top center;
    background-size: cover;
}
.portpolio .wrap .popol_wrap ul li .img_box a .tiamo{
    background: url(images/tiamo.jpg) no-repeat top center;
    background-size: cover;
}

.portpolio .wrap .popol_wrap ul li .txt_box{padding-top: 15px; display: flex;}
.portpolio .wrap .popol_wrap ul li .txt_box strong{
    font-size: 18px;
    color: #2d2d2d;
}

.portpolio .wrap .popol_wrap ul li .txt_box .type{
    margin-left: 15px;
}
.portpolio .wrap .popol_wrap ul li .txt_box .type span, 
.portpolio .wrap .popol_wrap ul li .txt_box .type a{
    display: inline-block;
    font-size: 15px;
    width: 65px; line-height: 25px;
    text-align: center;
    background-color: slateblue;
    border-radius: 5px;
    color: #fff;
}
.portpolio .wrap .popol_wrap ul li .txt_box .type a{background-color: #ffd400; color: #2d2d2d;}
.portpolio .wrap .popol_wrap ul li p.date{
    font-size: 16px;
    color: #b6b6b6;
    letter-spacing: -0.5px;
}

@media screen and (max-width:800px){
    .portpolio .wrap .popol_wrap{
        margin: 0 27px;
    }
    .portpolio .wrap .popol_wrap ul{
        flex-direction: column;
    }
    
    .portpolio .wrap .popol_wrap ul li{
        width: 100%;
        padding: 0;
        margin: 15px 0;
    }

    .portpolio .wrap .popol_wrap ul li .img_box{
        height: 360px;
    }
    
    .portpolio .wrap .popol_wrap ul li .img_box a{
        width: auto;
        height: 365px;
        
    }

    .portpolio .wrap .popol_wrap ul li .img_box a .img{
        height: 365px;   
    }
}

footer{
    background-color: #f7f7f7;
    text-align: center;
    font-size: 15px;
}